<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<th:block th:insert="fragments::header"/>
<table class="table">
    <thead>
    <tr>
        <th>Product</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="orderProduct:${orderProducts}">
        <td th:text="${orderProduct.product.name}"></td>
        <td th:text="${orderProduct.amount}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>